<!DOCTYPE html>

<html>
<head>
    <link href="~/lib/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-datatables/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/lib/Toast-Popup-Plugin-jQuery-Toaster/toast.style.css" rel="stylesheet" />
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/Toast-Popup-Plugin-jQuery-Toaster/toast.script.js"></script>
    <link href="~/css/LaboratoryBook.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>  
    @RenderBody()    
</body>

</html>
