<div class="change-user-name-container-inner">
    <label for="ChangeUserNameInput">New name</label>
    <input type="text"
           id="changeUserNameInput",
           name="changeUserNameInput"
           spellcheck="false"
           title="alphanumeric symbols only, from 3 to 20 symbols"
           value="" />   
</div>